{
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        [
            "@nx/react/babel",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-modules-commonjs"]
}
